<!--
  Generated template for the ServicePastOrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-title *ngIf="showAuthority == true;" >Past Orders</ion-title>
      <ion-title *ngIf="showAuthority != true;" >Past Approval Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar ></ion-searchbar>
<div>

  <div *ngIf="showAuthority == true;">
    <div *ngIf="setNoRecord == true">
      <h1>NO PAST ORDERS
      </h1>
     </div>
     <div *ngFor="let data  of alluserDetails">
      <ion-card  (click)="cardClickCheckDetailEvent(data)" >
        <ion-card-header>
          <ion-row>
            <ion-col>
                  {{data.partyname}}
                </ion-col>
                <ion-col col-8>
                  {{data.Orderid}}
                </ion-col>
              </ion-row>
              <ion-label style="font-style:italic; font-size: 68%;color:grey;position: relative;left:68px;">click for product Details</ion-label>
            </ion-card-header>
            <ion-list>
              <ion-row>
                <ion-col col-12>
                  <p>Customer: {{data.customername}}</p><br>
                  <p>Customer mobile: {{data.customermobile}}</p>
                  <p>Date: {{data.placeDate}}</p>
                </ion-col>
              </ion-row>
              <ion-row class="row-only"  >
                <ion-col (swipe)="swipeEvent($event,data)">
                  &nbsp;<ion-icon class="swipe-arrow" name="arrow-dropleft"></ion-icon>
                  &nbsp;<ion-icon class="swipe-arrow" name="arrow-dropleft"></ion-icon>
                  &nbsp;<ion-icon class="swipe-arrow" name="arrow-dropleft"></ion-icon>
                  &nbsp;<ion-icon class="swipe-arrow" name="arrow-dropleft"></ion-icon>
                  &nbsp;swipe left request Approval
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card>
        </div>
      </div>


      <div *ngIf="showAuthority == false;">
        <div *ngIf="setNoRecord == true">
          <h1>NO PAST ORDERS
          </h1>
        </div>
        <div *ngFor="let data  of getAllData">
          <ion-card >
            <ion-card-header>
              <ion-row>
                <ion-col>

                </ion-col>
                <ion-col col-8>
                  {{data.orderid}}
                </ion-col>
              </ion-row>
          </ion-card-header>
          <ion-list>
              <ion-row class="row-only"  >
                <ion-col col-6>
                  <span>
                      <ion-icon name="checkmark-circle" class="check"></ion-icon>
                      <span>Accepted</span>
                  </span>
                  <span>
                      <!-- <ion-icon name="close-circle" class="cancel"></ion-icon>
                      <span>Rejected</span> -->
                  </span>

                </ion-col>
                <ion-col col-6  >
                    <!-- <span>
                        <ion-icon name="checkmark-circle" class="check"></ion-icon>
                        <span>Accepted</span>
                    </span> -->
                    <span>
                        <ion-icon name="close-circle" class="cancel"></ion-icon>
                        <span>Rejected</span>
                    </span>

                  </ion-col>
              </ion-row>
          </ion-list>
        </ion-card>
      </div>
  </div>

</div>


</ion-content>
