<ion-header >
    <ion-navbar color="secondary" >
      <ion-title item-center>Product Summary</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>

  <div  *ngFor="let item of getProductDetails">

    <ion-list item-end>
      <ion-item >
        <ion-label color="dark" >Headquator: {{item.headquator |lowercase}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label color="dark" >Customer Name: {{item.customername |lowercase}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label color="dark" >Customer Mobile: {{item.customermobile |lowercase}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label color="dark" >Transoort Media: {{item.transportMedia |lowercase}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label color="dark" >Transport Name: {{item.transportMediaName |lowercase}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label color="dark"> Address:{{item.deliveryAddress}}</ion-label><br>

      </ion-item>
      <ion-item>
          <ion-label color="dark">Products:</ion-label><br>

        </ion-item>
        <div *ngFor="let product of item.productName; let i=index">

            <ion-item>{{i+1}}.{{product.name}}|{{product.quantity}}|{{product.size}}pkt
            </ion-item>

        </div>










    </ion-list>










    <button ion-button full color="buttonColor"  (click)="placeOrder(item,item.productName)">Confirm Order</button> <br>
    <button ion-button full color="buttonColor" (click)="closeModal(item,item.productName)">Cancel Order</button>
  </div>
</ion-content>

