<ion-header>
    <ion-navbar color="primary" >
      <ion-title item-center>Select Products</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content>


  <ion-list>

    <button ion-button (click)="selectProduct()">Select Products</button>
  </ion-list>


 <div *ngIf="newSaveProducts.length !=0 ">

  <ion-row >
       <ion-col col-5>
          <h4>Products</h4>
       </ion-col>
       <ion-col col-2>
          <h4>Size</h4>
        </ion-col>
        <ion-col col-5>
            <h4>Quantity</h4>
          </ion-col>
    </ion-row>
  <!-- <form #myForm="ngForm" (ngSubmit)="getOrderProductDetails(myForm.value,myForm)"  > -->


     <ion-list *ngFor="let product of newSaveProducts ; let i = index">

        <ion-list>
            <ion-row>
              <ion-col col-4>
                <p >{{i+1}}.{{product.name}}</p>

                </ion-col>
                <ion-col col-2>
                    <input type="text" style="border: 2px solid black;
                    width: 104%;
                    height: 53%;
                    position: relative;
                    top: 13%;
                    left: -12%;" name="size" required   #size>
                </ion-col>
                <ion-col col-4 style="position: relative;">
                  <ion-select interface="popover"  #selectItem name="transportMedia" ngModel placeholder="Please select Transport">
                    <div *ngFor="let items of product.packageSize">
                      <ion-option value="{{items}}" selected>{{items}}</ion-option>
                    </div>


                  </ion-select>
                  <ion-col col-2>
                      <button ion-button style="height: auto;
                      width: 20%;
                      position: relative;
                      float: right;
                      left: 35%;
                      top: -50%;" (click)="getOrderProductDetails(product.name,size.value,selectItem.value)">Add</button>
                  </ion-col>
                </ion-col>


            </ion-row>
            <hr>

          </ion-list>
    </ion-list>
      <hr>
    <ion-label>
      Added Orders
    </ion-label>

    <div *ngFor="let item of newAddedProducts; let i = index">

      <ion-list>
        <ion-row>
          <ion-icon col-4>
              {{i+1}}.{{item.productName}}
            </ion-icon>
            <ion-icon col-3>
                {{item.size}}pkt

              </ion-icon >
              <ion-icon col-3>
                  {{item.quantity}}g

            </ion-icon >
            <ion-col col-2>
               <h1 style="position: relative;
               top: -45%;" (click)="deleteItem(item)">x</h1>
            </ion-col>
        </ion-row>

      </ion-list>

    </div>

    <button ion-button full (click)="saveProducts()">Save Products</button>




 </div>

</ion-content>

