page-signup {


  ion-content{




    form.signupForm{
      position: relative;
      top:0px;
    }
    button.login-button{
      color: white;
      border-color: white;
      position: relative;
      border-radius: 20px;
      left: 20%;
      top: -5%;
      width: 50%;
      transition: 1s;

     }

     //button hover
     button.login-button:hover{
       border-color:#3c638a ;
       color:black;
       position: relative;
       border-radius: 20px;
       left: 20%;
       top: -5%;
       width: 50%;

      }

  }


  ion-card-content{


    ion-list{




      .email,.username,.password,.mobile,.selectHeadquators
      {
        background-color:rgba(255,255,255,0.0);
             width: 80%;
             position: relative;
             left: 5%;
             color: rgb(230, 213, 213);

      }







       .headquator{

        width: 100vh;
        position: relative;
        left: 0%;
        background-color:rgba(255,255,255,0.0);

       }



       ion-item {
          .colorItem{
            color: black;
          }


          .user{
            color: black;
          }

        .head{
          background-color: rgb(89, 89, 105);
          width: 400px;
          position: relative;
          border: 1px solid white;
          left: 2%;
          // background-color:rgba(255,255,255,0.0);

          }

        .select-items{
          background-color: red;
        }

       }



    }
  }

}
